body{
	background-color: #f1f1f1;
	margin: auto 0;
	overflow: auto;
}


.stockHeader{
	position: fixed;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none;
	top: 0%;
	background-color: #2b2b2b;
	width: 100%;
	height: 250px;
}

.balance{
	width: 100%;
	text-align: center;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #ffffff;
	font-size: 25px;
	margin-top: 30px;

}

.paymentHeaderNegative{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	line-height: 50px;
	width: 100%;
	text-align: center;
	color: #ff2938;
	height: 50px;
	background-color: #2b2b2b;
}

.paymentHeaderPositive{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	line-height: 50px;
	width: 100%;
	text-align: center;
	color: #3ea350;
	height: 50px;
	background-color: #2b2b2b;
}

.actionButton:hover{
	filter: brightness(-50%);
	cursor: pointer;
}

#settings{
	position: absolute;
	left: calc(100% - 70px);
	top: 30px;
	margin-left: 10px;
	width: 30px;
}

#pay{
	position: absolute;
	left: calc(100% - 70px);
	top: 150px;
	margin-left: 10px;
	width: 30px;
}


#home{
	position: absolute;
	left: calc(100% - 60px);
	top: 90px;
	width: 30px;
}



.paymentHistoryContainer{
	margin-bottom: 10px;
}

.paymentBody{
	font-size: 13px;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	width: 90%;
	text-align: center;
	color: #fafafa;
	height: 50px;
}

.paymentBox{
	margin-top: 10px;
	max-width: 400px;
	width: auto;
	height: auto;
	padding-bottom: 0px;
	background:  #222222;
}

.bal{
	font-weight: 700;
}
.bottomHeader{
	margin-top: 250px;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none;
	display: inline-flex;
	top: 0%;
	background-color: #222222;
	width: 100%;
	height: 90px;
}

.userIcon{
	position: absolute;
	left: calc(50% - 64px);
	top: calc(50% - 170px);
}

.username{
	font-weight: 900;
}

.welcomeMessage{
	width: 100%;
	margin-top: 200px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
}


.wave1{height: 400px;position: fixed;width: 100%;z-index: -12;left: 0;bottom: 0;}

.wave1 {
  -webkit-animation: wave-animation1 8.7s infinite linear; /* Safari 4+ */
  -moz-animation:    wave-animation1 8.7s infinite linear; /* Fx 5+ */
  -o-animation:      wave-animation1 8.7s infinite linear; /* Opera 12+ */
  animation:         wave-animation1 8.7s infinite linear; /* IE 10+ */
}


@-webkit-keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% { background-position: 1601px 0; }
}
@-moz-keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% { background-position: 1601px 0; }
}
@-o-keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% { background-position: 1601px 0; }
}
@keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% {background-position: 1601px 0;}
}

.wave1 {
    background: url('assets/wave.svg') 0 0 repeat-x;
}